* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 500;
  }
  body{
      background-image: url("images/img.jpg");
      
      background-size: 100% 300%;

      /* display: flex; */
      /* flex-direction: column;      */
      /* background-size: cover; */
  }
  a {
    text-decoration: none;
    color: black;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
  }
  
  .logo {
    cursor: pointer;
    width: 200px;
  }
  .nav-area {
    list-style: none;
  }
  .nav-area li {
    display: inline-block;
    padding: 0 15px;
  }
.countdown-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.big-text{
    font-size: 6rem;
    margin: 0 2rem;
    /* border: 1px solid; */
    background: #111;
    color: #fff;
    padding: 0 10px;
    border-radius: 10px;
}
.countdown-el{
    text-align: center;
}
.countdown-el span{
    /* border: 1px solid red; */
    background: red;
    padding: 2px 10px;
    border-radius: 5px;
}